{block #title}Add Pet{/block}

{block #content}
    <div class="col-md-12">
        <h1>Add pet
        <a href="{link 'Pet:shop'}" class="btn btn-secondary btn-lg pull-right">Back</a>
        </h1>
    </div>

    <div class="col-md-8">
        {control petForm}
    </div>
{/block}