parameters:
    petXmlFilePath: %appDir%/../storage/pets.xml

services:
    xmlManager: App\Model\XmlManager(%petXmlFilePath%)

    - App\Forms\FilterFormFactory
    - App\Forms\PetFormFactory
    - App\Model\PetManager